@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@500&family=Dosis&family=Josefin+Sans:wght@200;300&family=Lobster&family=Pacifico&family=Roboto+Slab:wght@700&family=Roboto:ital,wght@1,100&display=swap');
// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Josefin+Sans:wght@200;300&family=Lobster&family=Pacifico&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@500&family=Dosis&family=Josefin+Sans:wght@200;300&family=Lobster&family=Pacifico&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Define your styles
h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 4px;
  font-weight: bold;
}

div {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}

section {
  background-image: url("https://img.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg?w=996&t=st=1687872269~exp=1687872869~hmac=2d9aedbbeea8ea6df0118f9a2ae7d464c1a8c80ec6ec426c198f1e0929ac352d");
  font-weight: bold;
  margin-left: 20px;
}

.content img {
  width: 100px;
  top: 50px;
  left: 95px;
}

.ads img {
  width: 100%;
  height: auto;
}

.ads {
  flex: 0 0 200px;
}

ion-menu-button {
  color: var(--ion-color-primary);
}
.ion-padding{
  h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 45px;
    font-family: 'Dosis', sans-serif;
    position: absolute;
    bottom: 120px;
    right: 30px;
    font-weight: 500;
 }
 img{
    width:100%;
    height: 600px;
 }
 @media(max-width:915px){
 h1{
   font-size: 30px;
   bottom:10px;
   font-weight: 600;
   right:8px;
 }
 }
 }
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
// Define SCSS variables if needed
$font-family: 'Dosis', sans-serif;

// Apply styles
.table th {
  text-align: center;
}

table {
  border-collapse: collapse; // Add this to remove spacing between table cells
  width: 100%; // Set the table width to fill the container
}

th, td {
  border: 3px solid;
  padding: 8px; // Adjust the padding as needed
  margin: 0;
  vertical-align: top;
}

h3 {
  // margin-left: 280px;
  font-family: $font-family;
  font-weight: bold;
  // text-align: center;
}

.diff {
  display: inline;
  padding: 4px;
}

.table {
  font-family: $font-family;
}

.lines {
  border: 0px;
}

.names {
  display: inline;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.image-container {
  position: relative;
  
  i.fas.fa-expand {
    position: absolute;
    top: 9px;
    right: 390px;
    color: rgb(217, 195, 211);
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
  }
}

.modal img {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
  position: relative;
  margin-top: 50px;
}

#caption {
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.close {
  position: absolute;
  top: 50px;
  right: 15px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 3px 5px;
  border-radius: 50%;
  
  &:hover {
    color: #ccc;
  }
}

