<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- Display subtopic content if available -->
  <div class="main-content"  *ngIf="subtopicContent; else noSubtopicContent">
    <div>
      <h2>{{ part.replaceAll("-"," ")}}</h2>
      <p>{{ subtopicContent }}</p>
    </div>
    
  </div>

  <!-- Display default content if subtopic content is not available -->
  <ng-template #noSubtopicContent>
  <div class="content">
    <h2>Welcome to the System Design Tutorial</h2>
    <hr>
    
    <p>
      System design is a critical aspect of building robust and scalable software applications. It involves designing the architecture, components, and interactions of a system to meet specific requirements and ensure efficient performance.
    </p>
    <!-- ... (rest of the default content) ... -->
  </div>

  <!-- Advertisement section -->
  <div class="ads">
    <!-- Your ad code goes here -->
    <img src="path/to/your/ad-image.jpg" alt="Advertisement">
  </div>
  </ng-template>
</ion-content>
