<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form">
    <ion-item>
      <ion-label position="stacked" style="font-weight: bolder;">Email</ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" style="font-weight: bolder;">Password</ion-label>
      <ion-input [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button (click)="navigatetoLogin()" expand="block">Login</ion-button>
    <br>

    <h5 (click) = "navigatetosignup()" >Don't have account? <ion-text color="primary">signup here</ion-text>
      </h5>
  </div>
</ion-content>
