<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>System Design Tutorial</ion-list-header>
         <br>
          <!-- <ion-note>hi@ionicframework.com</ion-note> -->

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <!-- <ion-content *ngIf="items.length > 0"> -->
        <ion-list id="labels-list" >
          <ion-list-header style="font-weight: 600; color: rgb(30, 5, 5)">Sidebar</ion-list-header>
          <ng-container *ngFor="let label of items" >
            <ion-item detail="false" lines="none">
              <ion-label (click)="toggleSubtopic(label)">
                <ion-icon
                  [name]="isSubtopicExpanded(label) ? 'arrow-down-circle' : 'arrow-forward-circle'"
                  class="toggle-icon"
                  [class.expanded]="isSubtopicExpanded(label)"
                  style="color: black"
                ></ion-icon>
                {{ label.name }}
              </ion-label>
            </ion-item>
            
            <ion-list *ngIf="isSubtopicExpanded(label)">
              <ion-item *ngFor="let subtopic of label.subtopics" lines="none"   routerDirection="root" [routerLink] ="[selectedMenu, label.url + '_' + subtopic.url]"  detail = "false" routerLinkActive="selected" 
              a (click)="doSomeLogic( label.url,subtopic.url, selectedMenu)">
                <ion-label>{{ subtopic.name }}</ion-label>
              </ion-item>
            </ion-list>
            <style>
              .toggle-icon {
                  transition: transform 0.3s ease;
               }

              .expanded {
                  transform: rotate(10deg);
                }

              .collapsed {
                   transform: rotate(0);
                }
            </style>
          </ng-container>
        </ion-list>
        <!-- </ion-content> -->
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content" >
     <!-- <app-content [title] ="selectedtitle"></app-content> -->
    </ion-router-outlet>
  </ion-split-pane>
</ion-app>